---
version: 2
interactions:
    - id: 0
      request:
        host: translate.terraprint.co
        body: api_key=&format=text&q=Free+and+Open+Source+Machine+Translation+API.+Self-hosted%2C+offline+capable+and+easy+to+setup.&source=auto&target=zh
        form:
            api_key:
                - ""
            format:
                - text
            q:
                - Free and Open Source Machine Translation API. Self-hosted, offline capable and easy to setup.
            source:
                - auto
            target:
                - zh
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://translate.terraprint.co/translate
        method: POST
      response:
        body: |
            {"detectedLanguage":{"confidence":98.0,"language":"en"},"translatedText":"\u514d\u8d39\u548c\u5f00\u653e\u7684\u6e90\u5e93\u3002 \u81ea\u6211\u4e3b\u529e\u7684\u3001\u80fd\u591f\u548c\u5bb9\u6613\u5f62\u6210\u7684\u7ebf\u3002"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.437112789s
