---
version: 2
interactions:
    - id: 0
      request:
        host: translate.google.com
        body: ""
        form: {}
        headers:
        url: https://translate.google.com/translate_a/single?client=gtx&dj=1&dt=t&q=On+your+computer%2C+open+Chrome.%0AGo+to+a+webpage+written+in+another+language.%0AOn+the+right+of+the+address+bar%2C+click+Translate.%0AClick+on+your+preferred+language.%0AChrome+will+translate+your+current+webpage.%0A&sl=auto&tl=zh
        method: GET
      response:
        body: '{"sentences":[{"trans":"在您的计算机上，打开 Chrome。\n","orig":"On your computer, open Chrome.\n","backend":3,"model_specification":[{}],"translation_engine_debug_info":[{"model_tracking":{"checkpoint_md5":"6ffafab0da7e640be86ac09d0d5e539c","launch_doc":"en_zh_2023q1.md"}},{"has_untranslatable_chunk":true}]},{"trans":"转到用另一种语言编写的网页。\n","orig":"Go to a webpage written in another language.\n","backend":3,"model_specification":[{}],"translation_engine_debug_info":[{"model_tracking":{"checkpoint_md5":"6ffafab0da7e640be86ac09d0d5e539c","launch_doc":"en_zh_2023q1.md"}},{"has_untranslatable_chunk":true}]},{"trans":"在地址栏右侧，单击翻译。\n","orig":"On the right of the address bar, click Translate.\n","backend":3,"model_specification":[{}],"translation_engine_debug_info":[{"model_tracking":{"checkpoint_md5":"6ffafab0da7e640be86ac09d0d5e539c","launch_doc":"en_zh_2023q1.md"}},{"has_untranslatable_chunk":true}]},{"trans":"单击您的首选语言。\n","orig":"Click on your preferred language.\n","backend":3,"model_specification":[{}],"translation_engine_debug_info":[{"model_tracking":{"checkpoint_md5":"6ffafab0da7e640be86ac09d0d5e539c","launch_doc":"en_zh_2023q1.md"}},{"has_untranslatable_chunk":true}]},{"trans":"Chrome 将翻译您当前的网页。","orig":"Chrome will translate your current webpage.","backend":3,"model_specification":[{}],"translation_engine_debug_info":[{"model_tracking":{"checkpoint_md5":"6ffafab0da7e640be86ac09d0d5e539c","launch_doc":"en_zh_2023q1.md"}}]}],"src":"en","confidence":1.0,"spell":{},"ld_result":{"srclangs":["en"],"srclangs_confidences":[1.0],"extended_srclangs":["en"]}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List, Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factor, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
            Content-Disposition:
                - attachment; filename="json.txt"; filename*=UTF-8''json.txt
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 238.825638ms
