---
version: 2
interactions:
    - id: 0
      request:
        host: translate.google.com
        body: ""
        form: {}
        headers:
        url: https://translate.google.com/translate_a/single?client=gtx&dj=1&dt=t&q=Google+Translate+is+a+multilingual+neural+machine+translation+service+developed+by+Googleto+translate+text%2C+documents+and+websites+from+one+language+into+another.&sl=auto&tl=zh
        method: GET
      response:
        body: '{"sentences":[{"trans":"谷歌翻译是谷歌开发的多语言神经机器翻译服务，用于将文本、文档和网站从一种语言翻译成另一种语言。","orig":"Google Translate is a multilingual neural machine translation service developed by Googleto translate text, documents and websites from one language into another.","backend":3,"model_specification":[{}],"translation_engine_debug_info":[{"model_tracking":{"checkpoint_md5":"6ffafab0da7e640be86ac09d0d5e539c","launch_doc":"en_zh_2023q1.md"}}]}],"src":"en","confidence":1.0,"spell":{},"ld_result":{"srclangs":["en"],"srclangs_confidences":[1.0],"extended_srclangs":["en"]}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List, Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factor, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
            Content-Disposition:
                - attachment; filename="json.txt"; filename*=UTF-8''json.txt
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 348.162515ms
