<html>
  <header>
    <meta charset="UTF-8">
    <style>
      html {
        font-family: arial,sans-serif;
      }
      h2 {
        padding: 2px 0;
        margin: 6px 0;
        border-style: solid;
        border-width: 0 0 2px 0;
        font-size: 14px;
        font-weight: 600;
      }
      p {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
      }
      .raw {
        margin: 12px 0;
      }
      .translator {
        margin: 12px 0;
      }
      .translator-name {
        border-color: purple;
        color: purple;
      }
      .has-error {
        color: crimson;
      }
    </style>
  </header>
  <body>
    <div class="raw">
      <h2 class="raw-name">Raw</h2>
      {{ range (SplitTextIntoArray .Text) }}
        <p class="raw-text">{{ . }}</p>
      {{ end }}
    </div>
    <div>
      {{ range .Translators }}
        <div class="translator">
          {{ with .Translator }}
            <h2 class="translator-name">{{ .Name }}</h2>
          {{ end }}
          {{ if eq .Code 0 }}
            {{ range ( SplitTextIntoArray .TranslatedText) }}
              <p class="translator-text">{{ . }}</p>
            {{ end }}
          {{ else }}
            <p class="translator-text has-error">{{ .Error }}</p>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </body>
</html>
